:root {
    --swiper-navigation-color: white;
  }

.platform-desktop-main-banner {
    height: 480px;
    min-width: 1160px;
    position: relative;
    width: 100%;
    z-index: 1;
    overflow: hidden;
}

.swiper-container {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
}

.swiper-pagination {
    display: none;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  --swiper-navigation-size: 35px;
}
.banner-img {
    user-select: none;

}

.banner-img img {
    margin: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Đảm bảo ảnh vừa khung mà không bị méo */
}
